<div class='regist_back'>
  <div class='log-up'>
    <%= render partial: 'common/login_logo' %>

    <div class='log-in-inner'>
      <h2>登録情報変更</h2>

      <%= form_for current_user do |f| %>

        <div class='form-group'>
          <%= f.label :お名前 %><br />
          <%= f.text_field :nickname, placeholder: 'お名前', autofocus: true, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, placeholder: 'tiaju@gmail.com', class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :電話番号 %><br />
          <%= f.text_field :phone_number, placeholder: '090-1234-5678(ハイフン有)', class: 'form-control' %>
        </div>

        <div class='actions'>
          <%= f.submit class: 'btn btn-primary withripple', value: '登録情報を編集' %>
        </div>
      <% end %>
    </div>
  </div>
</div>