<div id="header">
  <div class="inner">
    <div class="logo">
<!--       <%= link_to image_tag('teniss_001.png'), '/' %> -->
  <h2>試合スケジュール</h2>
    </div>
    <!-- / ロゴ -->
    <!-- 電話番号+受付時間 -->
    <div class="info">
      <p class="tel">電話: <strong>050-5307-6953</strong></p>
      <p>受付時間: 平日 AM 10:00 〜 PM 5:00</p>
    </div>
    <!-- / 電話番号+受付時間 -->



  <!-- トップナビゲーション -->
  <ul id="topnav">
    <li><a href="/">トップページ<br><span>Top</span></a></li>
    <li><a href="//#two">TiAju Cupとは<br><span>About</span></a></li>
    <li><a href="/schedules/">試合スケジュール<br><span>Schedule</span></a></li>
    <li><a href="//#three">写真<br><span>Photos</span></a></li>
    <li><a href="/member/">運営グループ<br><span>Member</span></a></li>
    <li><a href="/contact/">お問い合わせ<br><span>Contact</span></a></li>
  </ul>
  <!-- トップナビゲーション -->

  </div>

</div>
<div id="wrapper">

  <!-- 4カラム -->
  <div id="one" class="gridWrapper">
    <article>
      <h3>試合スケジュール</h3>
      <table >
        <tread>
          <tr>
            <th>会場</th>
            <th>日時</th>
            <th>種目</th>
            <th>定員</th>
            <th>価格</th>
            <th>在庫</th>
          </tr>
        </tread>
        <% @schedules.each do |schedule| %>
        <tbody>
          <tr>
            <% if schedule.date == "5/19(木)10:30"  %>
            <td><%= schedule.place %></td>
            <td><%= schedule.date %></td>
            <td><%=schedule.content%></td>
            <td><%= schedule.people %></td>
            <td><%= schedule.price %></td>
            <td>終了</td>
            <% elsif (schedule.people - schedule.users.length) >= 4  %>
            <td><%= schedule.place %></td>
            <td><%= schedule.date %></td>
            <td><%= link_to "#{schedule.content}", "/schedules/" + "#{schedule.id}", "data-turbolinks-track" => true, :method => "get" ,:class => "google-pass#{schedule.id}"%></td>
            <td><%= schedule.people %></td>
            <td><%= schedule.price %></td>
            <td><%= link_to "購入", "/schedules/" + "#{schedule.id}", "data-turbolinks-track" => true, :method => "get" ,:class => "google-pass#{schedule.id}"%></td>
            <% elsif 4 > (schedule.people - schedule.users.length) && (schedule.people - schedule.users.length) >= 1 %>
            <td><%= schedule.place %></td>
            <td><%= schedule.date %></td>
            <td><%= link_to "#{schedule.content}", "/schedules/" + "#{schedule.id}", "data-turbolinks-track" => true, :method => "get"%></td>
            <td><%= schedule.people %></td>
            <td><%= schedule.price %></td>
            <td><%= link_to "在庫僅か", "/schedules/" + "#{schedule.id}", "data-turbolinks-track" => true, :method => "get" ,:class => "google-pass#{schedule.id}"%></td>
            <% elsif (schedule.people - schedule.users.length) <= 0 %>
            <td><%= schedule.place %></td>
            <td><%= schedule.date %></td>
            <td><%=schedule.content%></td>
            <td><%= schedule.people %></td>
            <td><%= schedule.price %></td>
            <td>無</td>
            <% end %>
          </tr>
        </tbody>
        <% end %>
      </table>
    </article>
  </div>
<div>
  <p>【注意】</p>
  <p>お申込される前に、遅刻・キャンセルについての注意事項を必ずご確認下さい。
    お申込後は、遅刻・キャンセルについてはご了承済みとさせて頂きます。</p>

  <p>【キャンセル方法】</p>
  <p>大会開催の3日前までにマイページにて予約キャンセルを行って下さい。それ以降は
    キャンセルが不可能なのでご了承下さい。</p>

  <p>【注意事項】</p>
  <ul>
    <li>受付締め切り時間は開始時刻までとさせて頂きます</li>
    <li>受付は開始10分前までにコート内で済ませるようご協力ください</li>
    <li>開始時刻までに受付をされていない場合、「キャンセル扱い」とさせて頂きます</li>
    <li>遅刻や当日キャンセルの扱いは、次回キャンセル料(エントリー費)が発生致します</li>
    <li>当日、会場が分からない等の電話・メール等は受け付けておりません</li>
    <li>天候や人数等の関係でやむを得ず大会を中止する場合がございますのでご了承下さい</li>
    <li>なるべく円滑に進行を行いますが、予定通りに進行しない場合がございます</li>
    <li>尚、大変申し訳ございませんが、運営者等の遅れによる締め切り時間が過ぎてしまった場合は、上記の締切時間は適応外とさせて頂き、到着後受付とさせて頂きます</li>
  </ul>

  <p>雨天や人数不足によって大会が中止になる場合は、大会開催の前日の23時までにTopページの「本日のお知らせ」(リンク)に書き込みをさせて頂きます。
大会中止の場合はキャンセル料が発生致しませんのでご安心下さい。
  掲示板をご確認頂いてからお越し頂きますようお願い致します。</p>

  <p>事故・怪我・疾病につきましては、お客様の自己責任でお願い致します。
  お申込頂いた時点で、ご承認とさせて頂きますので、予めご了承下さい。</p>

  <p>サークルや宗教団体等への勧誘行為、宣伝行為はお断り致します。このような行為が発覚した場合、今後のご参加をお断りすることがございますので、予めご了承下さい</p>
</div>
<%= render partial: 'common/footer' %>