<% if user_signed_in? %>
<div id="ticket-info" class="section-large">
<p class="h-large h-large-ico ticket-info">チケット情報</p>
  <div class="box">
    <div class="module-ticket-info clearfix">
      <div class ="main">
        <table>
          <tread>
              <tr>
                <th>会場</th>
                <th>日時</th>
                <th>種目</th>
                <th>定員</th>
                <th>申し込み期間</th>
              </tr>
          </tread>
          <tbody>
              <tr>
                <td><%= @schedule.place %></td>
                <td><%= @schedule.date %></td>
                <td><%= @schedule.content %></td>
                <td><%= @schedule.people %></td>
                <td><%= @schedule.kikan %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class='ticket_form'>
  <%= form_tag('/schedules', method: :post) do %>
    <%= hidden_field :schedule, :id %>
    <input type="submit" value='商品チケットを購入する'>
  <% end %>
</div>
  <p>開催地マップ</p>
<div class="map-embed">
  <div id="map-canvas">地図が表示されない場合は更新ボタンを押してください</div>
</div>
<% else %>
<div id="ticket-info" class="section-large">
<p class="h-large h-large-ico ticket-info">チケット情報</p>
  <div class="box">
    <div class="module-ticket-info clearfix">
      <div class ="main">
        <table>
          <tread>
              <tr>
                <th>会場</th>
                <th>日時</th>
                <th>種目</th>
                <th>定員</th>
                <th>申し込み期間</th>
              </tr>
          </tread>
          <tbody>
              <tr>
                <td><%= @schedule.place %></td>
                <td><%= @schedule.date %></td>
                <td><%= @schedule.content %></td>
                <td><%= @schedule.people %></td>
                <td><%= @schedule.kikan %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class='ticket_form'>
  <p>チケットを購入するためには、「会員登録」または「ログイン」をしてください。</p>
  <a href="/users/sign_up">会員登録</a>
  <a href="/users/sign_in">ログイン</a>
</div>
  <p>開催地マップ</p>
<div class="map-embed">
  <div id="map-canvas">地図が表示されない場合は更新ボタンを押してください</div>
</div>
<% end %>
<div>
  <p>【注意】</p>
  <p>お申込される前に、遅刻・キャンセルについての注意事項を必ずご確認下さい。
    お申込後は、遅刻・キャンセルについてはご了承済みとさせて頂きます。</p>

  <p>【キャンセル方法】</p>
  <p>大会開催の3日前までにマイページにて予約キャンセルを行って下さい。それ以降は
    キャンセルが不可能なのでご了承下さい。</p>

  <p>【注意事項】</p>
  <ul>
    <li>受付締め切り時間は開始時刻までとさせて頂きます</li>
    <li>受付は開始10分前までにコート内で済ませるようご協力ください</li>
    <li>開始時刻までに受付をされていない場合、「キャンセル扱い」とさせて頂きます</li>
    <li>遅刻や当日キャンセルの扱いは、次回キャンセル料(エントリー費)が発生致します</li>
    <li>当日、会場が分からない等の電話・メール等は受け付けておりません</li>
    <li>天候や人数等の関係でやむを得ず大会を中止する場合がございますのでご了承下さい</li>
    <li>なるべく円滑に進行を行いますが、予定通りに進行しない場合がございます</li>
    <li>尚、大変申し訳ございませんが、運営者等の遅れによる締め切り時間が過ぎてしまった場合は、上記の締切時間は適応外とさせて頂き、到着後受付とさせて頂きます</li>
  </ul>

  <p>雨天や人数不足によって大会が中止になる場合は、大会開催の前日の23時までにTopページの「本日のお知らせ」(リンク)に書き込みをさせて頂きます。
大会中止の場合はキャンセル料が発生致しませんのでご安心下さい。
  掲示板をご確認頂いてからお越し頂きますようお願い致します。</p>

  <p>事故・怪我・疾病につきましては、お客様の自己責任でお願い致します。
  お申込頂いた時点で、ご承認とさせて頂きますので、予めご了承下さい。</p>

  <p>サークルや宗教団体等への勧誘行為、宣伝行為はお断り致します。このような行為が発覚した場合、今後のご参加をお断りすることがございますので、予めご了承下さい</p>
</div>